/* Layout */
.cart-box {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.cart-items {
  flex: 1;
}

.cart-summary {
  min-width: 300px;
}

.cart-item {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: #f9ece5;
  border-radius: 12px;
  padding: 0.75rem;
  margin-bottom: 1rem;
}

.cart-item img {
  width: 140px;
  height: 140px;
  display: block;
  object-fit: cover;
  border-radius: 0.5rem;
}
.cart-info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  flex: 1;
}

.quantity-section {
  margin-top: 1.5rem;
}

.cart-quantity {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 0.5rem;
}

.quantity-buttons {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

/* Typography */
.cart-summary h2 {
  margin: 0 0 1.5rem;
}
.cart-info h2,
.cart-info p {
  margin: 0;
}

.quantity-value {
  min-width: 20px;
  text-align: center;
  font-weight: 600;
}

.order-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.order-summary p {
  margin: 0;
}

.order-summary:last-of-type {
  border-top: 1px solid #e5e7eb;
  padding-top: 1rem;
  margin-top: 1rem;
}

/* Components */
.clear-cart-button {
  width: 126px;
  margin-bottom: 1rem;
}

.quantity-button {
  width: 2rem;
  height: 2rem;
  border: 1px solid #d9d9d9;
  border-radius: 0.5rem;
  background-color: #fff;
  cursor: pointer;
}

.remove-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #111827;
}

.remove-button:hover {
  text-decoration: underline;
}

/* Mobile */
