.success-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1rem;
}

.success-page h1 {
  margin-bottom: 4rem;
  text-align: center;
}

.success-card {
  background: #f9ece5;
  border-radius: 12px;
  padding: 40px;
  max-width: 460px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.success-card p {
  margin: 0;
  text-align: center;
}

.success-card .primary-button {
  text-decoration: none;
}

@media (max-width: 700px) {
  .success-page {
    padding: 2ewm 1 rem;
  }

  .success-page h1 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .success-card {
    max-width: 357px;
    padding: 24px;
    gap: 1.5rem;
  }

  .success-card img {
    width: 64px;
    height: 64px;
  }

  .success-card .primary-button {
    width: 177px;
    text-align: center;
  }
}
